<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Joblisting
        <br>Design by
        <a href="http://shaming-blog.logdown.com/" target=_new>mingsha</a>
    </p>
</footer>
